.aimove {
  display: flex; /* Set to flex container */
  flex: 1;
  flex-direction: row; /* Arrange items in a row */
  justify-content: flex-start; 
  align-items: center; /* Center items along the cross axis */
  max-height: 90%;
}


.aimove .first-div,
.aimove .second-div,
.aimove .third-div {
  max-height: 100%; 
  max-width: 100%;/* Each div takes up 100% of the parent's max height */
  overflow-y: auto;/* Enable vertical scrolling if needed */
}

.aimove > div:nth-child(1) {
  flex: 20%;
}

.aimove > div:nth-child(2) {
  flex: 30%;
}

.aimove > div:nth-child(3) {
  flex: 50%;
  
}

.first-div {
  margin-right: 1%;
  margin-left: 1%;
}

.possible-action, .all-action {
  background-color: rgba(255, 255, 255, 0.50) ;
  color: black;
  padding-bottom: 2%;
}

.PBoard {
  text-align: left;
  color: #000;
  font-size: 10px; /* Increase the font size for readability */
  font-weight: bold;
  padding: 3px; /* Add padding to increase the size */
}

.PBoard table {
  width: 70%; /* Set the table width to 100% */
}

.PBoard td {
  background-color: aquamarine;
  border: solid 3px rgb(0, 6, 117);
  padding: 10px; /* Add padding to the table cells */
  text-align: center; /* Center the content in cells */
}


  
  .glowing-text {
    font-size: 16px;
    color: rgb(248, 248, 42);
    text-shadow: 0 0 10px rgba(248, 248, 150, 0.789); /* Add a text shadow for the glowing effect */
  }