.App {
  text-align: center;
  background-image: url('/public/images/bg.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.App-header {
  min-height: 15vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  font-weight: bold;
  color: rgb(246, 246, 240);
  margin-bottom: 20px;
}

.App-body {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(246, 246, 240);
  margin-bottom: 20px;
}

.board-container {
  color: rgb(218, 145, 61);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
}

.Board {
  margin-right: 15px; /* Adjust this value to control the spacing */
  margin-left: 15px; /* Adjust this value to control the spacing */
  max-width: 35%;

}

.MainBoard {
  margin-right: 15px; /* Adjust this value to control the spacing */
  margin-left: 15px; /* Adjust this value to control the spacing */
  max-width: 50%;
}

footer{
  min-height: 3vh;
  background-color: black;
  color: bisque;
}

body{
  margin-top: 15px;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 30%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}