.App {
  text-align: center;
  background-image: url('/public/images/bg.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(246, 229, 157, 0.15); 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60%; 
}