.board {
  background-color: rgb(236, 204, 162);
  border: solid 6px rgb(236, 204, 162);
  border-radius: 10px;
  /* background-image: url('/public/images/bg2.jpg'); */
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  width: 50%; 
  height: 50%; 
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* gap: 1px; */
  position: relative;
}

.cell {
  background-color: rgba(255, 255, 255, 0.915);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.bg {
  position: absolute;
}

