.board {
  background-color: rgba(255, 255, 255, 0.915);
  border: solid 6px rgb(236, 204, 162);
  border-radius: 10px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  width: 65%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
}
.board1 {
  background-color: rgba(255, 255, 255, 0.915);
  border: solid 6px rgb(236, 204, 162);
  border-radius: 10px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
}
.cell {
  background-image:  url('/public/images/opened.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.fg {
  position: relative; 
}

.cell img {
  max-width: 70%;
  max-height: 100%;
  width: 100%; /* Added */
  height: 100%; /* Added */
  margin: auto;
}

.fg img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
}
